#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=br --xlayouts='br'
# System language
lang pt_BR.UTF-8

# Network information
network  --bootproto=static --device=eth0 --gateway=192.168.0.1 --ip=192.168.0.64 --nameserver=192.168.0.11 --netmask=255.255.255.0 --noipv6 --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$Ean/7w2emMfewAbm$AlWa8WCgYbzYuZPkQ6STr1oQ0srHZZKWPSDBWwQMZzBCQrBT4bNEIPp6p97Lmx.2wkqWN3ZTAaCLASrQc.gpW/
# System services
services --enabled="chronyd"
# System timezone
timezone America/Sao_Paulo --isUtc
user --groups=wheel --name=edson --password=$6$NIql4lSc.zRGZonX$xz2wePuje167GRBoJmudgZ1xOCsPB4rl34j9Ud.O4xOe9bRw3DdIxaFkqw0Svjj9xRq5vwUNJ9P.hQ/87KuJ9/ --iscrypted --gecos="Edson Casimiro"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
